/* Base Style */
* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5;
}

/* Body Style */

body,
main {
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
    background-color: #FAFAFA;
}

/* Element Style */

h1 {
    text-transform: capitalize;
}

h2 {
    text-transform: capitalize;
    font-weight: 100;
}

h3 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: initial;
}
li a {
    display: block;
    padding: 1em 0;
}

p {
    text-transform: initial;
}

img {
    border-radius: 10px;
}

/* Nav Style */

nav {
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}
nav li {
    background-color: #fff;
    width: 90%;
    margin-top: .5em;
    font-weight: bold;
}

/* Class Style */

.profile-intro {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.profile-intro img {
    width: 80%;
    align-self: center;

}

.profile-intro p {
    margin: 25px 10px;
}

/* main section style */

main {
    background-color: #fff;
    padding-bottom: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
    padding: 1em 0 2em 0;
}

.card img {
    width: 100%;
}

.card p {
    font-weight: lighter;
}

/* .card:last-child {
    margin-bottom: 2em;
} */

.card:last-child p {
    padding-left: 10px;
    padding-right: 10px;
}

.contact {
    margin: 3em 0;
    /* padding: 0 8em; */
}

.contact-p {
    padding: 1.5em .5em;
    font-weight: 100;
}

.contact a {
    font-weight: bold;
}

/* footer style */

hr {
    width: 90%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

footer a {
    text-transform: uppercase;
}

.tablet-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    header h1 {
        padding-top: 1em;
        margin-bottom: 0;
    }

    main {
        padding-top: 2em;
        padding-bottom: 0;

    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        align-self: center;
        margin: 0 auto;
    }

    nav li {
        width: initial;
        background-color: #FAFAFA;
    }

    nav a {
        display: inline-flex;
    }

    .profile-intro {
        flex-direction: row;
        margin: 2em;
        padding: 20px;
        height: 200px;
    }

    .profile-intro p {
        order: -1;
        text-align: left;
        hyphens: auto;
        flex: 2 0 55%;
        padding-right: 1em;
    }

    .profile-intro img {
        /* max-width: 50%; */
        object-fit: contain;
        max-height: 175px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em;
        max-width: 774px;
        margin: auto;
    }

    .card {
        flex: 40%;
        padding: .5em .5em 3em .5em;
    }

    /* .card:last-child {
        margin: 0;
    } */

    .contact {
        padding: 0 10em;
    }

    footer {
        padding: 0 2em 5em;
    }

    .backtotop {
        display: none;
    }

    .tablet-nav {
        display: flex;
    }

    .tablet-nav ul li {
        padding: 0 1em;
    }
}

@media screen and (min-width: 1024px) {
    header,
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    header h1 {
        margin-right: auto;
        padding-left: 2em;
        padding-top: 0;
        align-self: center;
    }

    header {
        padding-bottom: 50px;
    }

    nav {
        padding-right: 2em;
        padding-top: 1em;
    }

    nav ul li {
        padding: 1em;
    }

    .profile-intro img {
        max-height: 300px;
    }

    .profile-intro p {
        padding-right: 2em;
    }

    main {
        max-width: 95%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .container {
        max-width: 100%;
    }

    .card {
        flex: 30%;
        margin-bottom: 2em;
    }

    /* .card:last-child {
        margin-bottom: 2em;
    } */

    .contact {
        padding: 0 18em;
    }

    footer {
        padding-bottom: 0;
    }

    footer p {
        padding-left: 1.25em;
    }

    footer nav {
        padding: 0 1em .5em 0;
    }
}